{{> header}}
{{#if isLogged}}
<h3>You are logged.</h3>
{{else}}
<form class="text-center border border-light p-5" onSubmit=loginUser(event)>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" value="">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
{{/if}}