main {
    width: 890px;
    border: 2px solid #a5b2b3;
    font-family: Calibri Light, Verdana, sans-serif;
    margin: auto;
    margin-top: 50px;
}

article {
    width: 21%;
    vertical-align: top;
    display: inline-block;
    margin: 0px 20px 0px 10px;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
}

main article img:hover {
    opacity: 0.4;
    cursor: pointer;
}

p {
    margin-bottom: 0;
}