body {
    font-family: Helvetica, sans-serif;
    background: #f0f0e8;
}

header {
    width: 1050px;
    margin: auto;
}

header h1 {
    font-size: 56px;
    text-align: center;
    color: #009288;
}

h3 {
    text-align: center;
}

main {
    font-size: 16px;
    width: 900px;
    margin: auto;
    margin-top: 60px;
}

article {
    width: 183px;
    margin: 0px 5px;
    padding: 0px 10px;
    display: inline-block;
    border-left: 7px solid #f0f0e8;
}

p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

article:hover {
    cursor: pointer;
    background: #fff;
    border-left: 7px solid #009288;
}