@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    width: 1180px;
    margin: auto;
}

h1 {
    font-size: 28px;
    color: #32A2E4;
    font-weight: normal;
    margin-left: 10px;
}

main {
    width: 1180px;
    margin: auto;
    border-top: 1px dashed grey;
}

section {
    border-bottom: 1px dashed grey;
    display: flex;
}
.info {
    width: 1000px;
    float: left;

}
.search-form {
    width: 148px;
    float: right;
    vertical-align: top;
    margin-top: 37px;
margin-left: 30px;

}

h2 {
    font-size: 16px;
    font-weight: bolder;
}
label {
    font-weight: bold;
}
input[name="search"] {
    outline: none;
    width: 126px;
    height: 21px;
    padding: 0px 20px 0px 0px;
    position: absolute;
 
}
i {
    position: relative;

    left: 133px;
    top: 4px;
}


