@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 14px 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

header {
    background: #3c3f49;
    color: #fff;
   
    position: relative;
    z-index: 0;
}

.overlay {
    opacity: 0.1;
    background: url('img/header-bg.png') center center;
    background-size: cover;
    width: 752px;
    height: 100%;
    position: absolute;
    z-index: -1;
}

header nav {
    padding: 30px;
}

header nav a {
    color: #fff;
}

header nav ul {
    float: right;
    text-transform: uppercase;
    list-style: none;
}

header nav ul li {
    float: left;
    font-weight: bold;
    margin: 0 10px;
}

header nav h1 {
    font-size: 14px;
    float: left;
    text-transform: uppercase;
}

header nav ul li:hover a {
    color: #fa692e;
}

header .intro {
    width: 900px;
    margin: 250px auto 150px;
}

header .intro p {
    width: 690px;
    float: left;
    font-size: 45px;
    margin-right: 145px;
}

header .intro i.fa-play-circle {
    margin-top: 15px;
}

header .intro-articles {
    width: 90%;
    margin: 0 auto;
    height: 200px;
}

header .intro-articles article {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 17px;
}

header .intro-articles article:hover {
    border-bottom: 12px solid #fa692e;
}

header .intro-articles i {
    margin-bottom: 50px;
    height: 50px;
}

header .intro-articles article p {
    padding: 0 40px 60px 0;
}

main .intro-orange {
    position: relative;
}

main .intro-orange .wrap {
    width: 1450px;
    margin: 0 auto;
    padding: 50px 0;
}

main .intro-orange .wrap .box {
    width: 320px;
    float: left;
    height: 400px;
    margin: 0 81px;
}

main .intro-orange .wrap .box-left {
    text-align: right;
}

main .intro-orange .wrap .box-left h1 {
    padding: 20px 46px;
}

main .intro-orange .wrap .box-left p {
    padding: 0 46px;
    text-transform: capitalize;
    font-weight: 500;
}

main .intro-orange .wrap .box-center .text-bold {
    font-weight: bold;
}

main .intro-orange .wrap .orange-box {
    position: absolute;
    top: 5px;
    right: 0;
    height: 450px;
    width: 470px;
    background: #fa692e;
    opacity: 0.8;
}

main .intro-orange hr {
    height: 0.5px;
    background: #3c3f49;
    margin: 20px 0;
    border: 0;
}

main .meetings {
    background: #3c3f49;
    color: #fff;
}

main .meetings .wrap {
    width: 1200px;
    margin: 0 auto;
}

main .meetings p {
    font-size: 30px;
    width: 590px;
    padding: 35px 0 80px 0;
    font-weight: bold;
}

main .meetings .wrap ul li {
    font-size: 17px;
    margin: 0 -30px 60px 30px;
    width: 50%;
    float: left;
}

main .meetings .wrap .icon-holder i {
    padding: 17px;
    border-radius: 50%;
    background: #fa692e;
    font-size: 15px;
}

main .meetings .wrap .time-holder {
    font-weight: bold;
    margin: 0 15px;
}

main .meetings .wrap .name-holder {
    text-transform: capitalize;
}

main .speak {
    border: 1px solid #3c3f49;
    background: #fff;
}

main .speak .package {
    width: 1200px;
    margin: 0 auto;
}

main .speak .package header {
    color: #000;
    background: #fff;
    height: 200px;
    margin: 40px 0 0 0;
}

main .speak .package header h1 {
    width: 400px;
    font-size: 30px;
    float: left;
}

main .speak .package header p {
    width: 640px;
    margin: 30px 0 0 0px;
    font-size: 21px;
    float: right;
}

main .speak .package .developer {
    width: 1100px;
    height: 466px;
    margin: auto;
}

main .speak .package .developer article {
    width: 27%;
    height: 430px;
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.25);
    float: left;
    margin: 0 34px;
}

main .speak .package .developer article img {
    margin-bottom: 20px;
}

main .speak .package .developer article a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
}

main .speak .package .developer article p {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 21px;
    color: #fa692e;
    text-transform: uppercase;
}

main .speak .package .developer article a:hover i {
    color: #fa692e;
}

main .events {
    background: #3c3f49;
    color: #fff;
    padding: 60px 0;
}

main .events .wrap {
    width: 900px;
    height: 430px;
    border: 1px solid #fff;
    margin: 30px auto;
}

main .events .wrap h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    margin-top: 90px;
}

main .events .wrap p {
    text-align: center;
    font-size: 20px;
    width: 480px;
    margin: 50px auto;
}

main .events .wrap form {
    width: 320px;
    margin: 0px auto;
}

main .events .wrap form input {
    float: left;
    border: 0;
    background: #3c3f49;
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #fa692e;
}

main .events .wrap form input::placeholder {
    color: #fff;
}

main .events .wrap form button {
    float: right;
    width: 100px;
    height: 26px;
    border-radius: 15px;
    color: #fff;
    background: #fa692e;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    font-size: 10px;
}

main .events .wrap form button:hover {
    background: #333;
}

footer {
    background: #333;
    height: 100px;
}

footer div {
    width: 97%;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

footer p:first-of-type {
    color: #fff;
    float: left;
    margin-top: 35px;
}

footer p {
    width: 313px;
    float: right;
    color: grey;
    margin-top: 25px;
}