* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: #8B603D;
    border: 2px solid #000;
    width: 810px;
    height: 160px;
    margin: auto;
}

header h1 {
    color: #fff;
    margin: 57px 60px;
    font-size: 40px;
}

.clearfix {
    width: 810px;
    height: 290px;
    margin: auto;
}

.left {
    width: 22%;
    float: left;
}

.right {
    width: 79%;
    margin-left: 167px;
    padding-top: 20px;
    font-size: 18px;
}

.right h2 {
    font-size: 27px;
    margin: 0px 0px 20px 20px;
    padding: 4px 0px;
}

.right p {
    margin: 33px 0 47px 20px;
}

main article ul li {
    width: 150px;
    height: 50px;
    color: #fff;
    background: #33B5E5;
    padding-left: 10px;
    padding-top: 15px;
    margin: 15px;
    box-sizing: border-box;
}

footer {
    background: #8B603D;
    border: 2px solid #000;
    width: 810px;
    height: 110px;
    margin: auto;
}

footer h3 {
    color: #fff;
    margin: 40px 60px;
    font-size: 25px;
}