@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-size: 14px;
    font-family: "Open Sans", Arial, "Comfortaa", sans-serif;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

aside, main {
    float: left;
}

aside {
    width: 15%;
}

aside h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}

aside img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

aside p {
    text-align: center;
    text-transform: uppercase;
    color: #b1bfc6;
}

aside ul {
    list-style: none;
    margin-top: 40px;
    padding-left: 10px;
}

aside ul li {
    margin: 25px 0;
}

aside ul li a {
    color: #b1bfc6;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

aside ul li:hover a {
    color: #333;
}

main {
    width: 85%;
    background: #f3f5f7;
}

main header h1 {
    float: left;
    color: #384850;
    font-weight: lighter;
    margin-top: 50px;
    font-size: 35px;
}

main header div {
    float: right;
    width: 20%;
    
}

main header div button {
    display: block;
    width: 180px;
    height: 45px;
    border-radius: 20px;
    border: 3px solid #fff;
    background: #ff7739;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #ff7739;
}
main header div button:hover {
background: #fff;
color: #ff7739;
}
main section h2 {
    text-transform: capitalize;
}
main section h3 {
text-transform: uppercase;
font-weight: lighter;
}
main section article img {
    width: 100%;
}

main section article {
    width: 24%;
    float: left;
    margin-right: 30px;
    box-shadow: 8px 6px 17px -1px rgba(0, 0, 0, 0.26);
    background: #fff;
}

main section article .status {
    position: relative;
    top: 50px;
    left: -20px;
    display: block;
    width: 90px;
    height: 26px;
    border-radius: 20px;
    background: #68bc69;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
}
main section article .status-rented {
    background:#b1bfc6
}
main section article .status-draft {

    background: #91a5af;
}