@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #567788 0%, #121f25 100%) no-repeat center center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
}

nav {
    background: #eff4f7;
    margin: 40px;
    position: relative;
    z-index: 5;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: #a4a8a9;
}

nav ul {
    padding: 20px 20px 0 20px;
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding-bottom: 23px;
}

a:hover {
    cursor: pointer;
    color: #333;
}

li:hover {
    border-bottom: 2px solid #70e9ff;
}

body .logo {
    position: absolute;
    z-index: 0;
    top: 20px;
    left: 550px;
    background: #ea3d51;
    width: 90px;
    height: 90px;
    padding: 20px
}

body .brand {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #ffffff;
    margin-top: 72px;
}

body .content {
    background: #CBD0D9;
    width: 80%;
    margin: auto;
    margin-top: 160px;
}

header .book-title {
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

header .book-genre {
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

main .star {
    position: relative;
    z-index: 8;
    margin: auto;
    color: #ffffff;
    width: 300px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom, #eb3c53 0%, #e6135c 100%) no-repeat center center;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 80px;
    border-radius: 50%;
}

.quotes:before, .quotes:after {
    content: ' " ';
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}

.stars {
    font-size: 25px;
    margin: 10px;
}

.star button {
    background: None;
    border: 3px solid #70ecff;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 25px;
}

.star button:hover {
    background: #70ecff;
    border: 3px solid #70ecff;
    color: #348098;
}

.chapter {
    position: relative;
    z-index: 4;
    top: -250px;
    background: #ffffff;
    margin: 50px;
    padding: 250px 35px 35px 35px;
}

.chapter h1 {
    color: #46ee97;
    font-size: 42px;
}

.chapter p {
    width: 70%;
}

.chapter button {
    background: None;
    border: 3px solid #628291;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    padding: 10px 25px;
}

.chapter button:hover {
    background: #628291;
    cursor: pointer;
    color: #6dffb8;
}