body {
    font-size: 24px;
}

main {
    width: 605px;
    margin: auto;
}

article {
    margin-bottom: 30px;
}

div {
    width: 230px;
    height: 75px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    background: #6495ED;
    padding-top: 23px;
}

.left {
    float: left;
    margin-right: 15px;

}

.right {
    float: right;
    margin-left: 15px;

}

.center {
    margin: 0 auto;
}

p {
    text-align: justify;
    word-wrap: break-word;
}