<header>
    <nav>
        <ul>
            {{#if logged}}
            <li>
                <a href="">Create new offer</a>
            </li>
            {{/if}}
            <li class="site-logo">Shoe</li>
            <li>
                <a href="">
                    <img src="./public/sneakers.png" alt="">
                </a>
            </li>
            <li class="site-logo">Shelf</li>
            {{#if logged}}
            <li>Welcome, xxx@xx.xxx |
                <a href="">Logout</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>